{% extends "basic.html" %}
{% block content %}


  <!-- OTHER STUFF ON THE PAGE -->

  <div class="container">
	
	<div class="p-3 mb-2 bg-secondary text-white"><h3>Lot Report</h3></div>
    <div class="jumbotron">
	<p><table class="table table-striped">
		<thead>
			<tr>
				<!--
			  <th scope="col">Lot Id</th>
			  -->
			  <th scope="col">Lot Number</th>
			  <th scope="col">Lot Name</th>
			  <th scope="col">Lot Created By</th>
			  <th scope="col">Verified By</th>
			  <th scope="col">Detail</th>
			</tr>
		  </thead>
		  <tbody>
			
		{% for lot in lots %}
		<tr>
		<!--
			<th scope="row">{{lot.idLot}}</th>
		-->
		<td>{{lot.lot_number}}</td>
		<td>{{lot.name}}</td>
		{% if userdict[lot.created_by] %}
		<td>{{userdict[lot.created_by]}}</td>
		{% else %}
		<td>{{lot.created_by}}</td>
		{% endif %}

		{% if lot.reviewed_by != None %}
		<td>{{userdict[lot.reviewed_by]}}</td>
		{% else %}
		<td><p class="text-danger">Not Verified</p></td>
		{% endif %}

		<td><a href="{{url_for('report', lotid=lot.idLot)}}"><button type="button" class="btn btn-outline-dark">Detail</button></a></td></tr>
		{% endfor %}
</tbody>
</table>
	</p>
	  </div>
</div>
  
  

<div class="container">
    <p align="center"><b>Copyright &copy; 2021,{{year}}, Adaptive Phage Therapeutics</b></p>
  </div>
</body>
</html>

{% endblock %}